@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.eot');
    src: url('./fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Montserrat-Regular.woff') format('woff'),
        url('./fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
@media only screen{
    #dataAnalyzerWindow{
        position:absolute;
        min-height:60vh;
        min-width:45vw;
        max-height:60vh;
        max-width:45vw;

        top:20vh;
        left:5vw;

        font-family:'Montserrat';
        text-align:center;
        background-color:rgba(245,245,245,1);
        border-style:solid;
        border-radius:4px;
        border-color:gray;

    }
    #dataListWindow{
        position:absolute;
        display:flex;

        min-height:80%;
        min-width:80%;
        max-height:80%;
        max-width:80%;
        left:10%;
        top:25%;

        font-size:2vw;
        flex-direction:column;
        gap:3vh;
    }
    #dataTimersCompleted{
        position:relative;

        color:rgb(36, 196, 249)
    }
    #dataTotalDistractions{
        position:relative;
        color:rgb(255, 56, 56)
    }
    #dataFavoriteWorkTime{
        position:relative;
        color:rgb(33, 199, 160)
    }
    #timerPieChart{
        position:absolute;
        height:55vh !important;
        width:auto !important;

        top:20vh;
        left:65vw;
    }
    #legendWindow{
        position:absolute;
        display:flex;
        min-height:25vh;
        min-width:30vw;
        max-height:25vh;
        min-width:30vw;

        top:70vh;
        left:60vw;

        flex-direction:column;
    }
    #legendRow1{
        position:absolute;
        height:30%;
        width:100%;
    }
    .legendBox{
        position:absolute;
        min-height:20px;
        min-width:20px;
        max-height:40px;
        max-width:40px;
    
        background-color:red;
        z-index:10;
        border-radius:2px;
        border-style:solid;
        border-color:black;
    }
    #legendText1{
        position:absolute;
        font-size:1.3vw;
        left:20%;
    }
    #legendBox1{
        left:10%;

        background-color:rgb(62, 221, 255);
    }
    #legendText2{
        position:absolute;
        font-size:1.3vw;
        left:20%;
        top:30%;
    }
    #legendBox2{
        left:10%;
        top:30%;
        background-color:rgb(62, 191, 255);
    }
    #legendText3{
        position:absolute;
        font-size:1.3vw;
        left:70%;
    }
    #legendBox3{
        position:absolute;
        left:60%;
        background-color:rgb(62, 161, 255);
    }
    #legendText4{
        position:absolute;
        font-size:1.3vw;
        top:30%;
        left:70%;
    }
    #legendBox4{
        position:absolute;
        left:60%;
        top:30%;
        background-color:rgb(62, 130, 255);
    }
    #legendText5{
        position:absolute;
        font-size:1.3vw;
        left:70%;
        top:60%;
    }
    #legendBox5{
        position:absolute;
        left:60%;
        top:60%;
        background-color:rgb(62, 77, 255);
    }
}