@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.eot');
    src: url('./fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Montserrat-Regular.woff') format('woff'),
        url('./fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat-medium';
    src: url('./fonts/Montserrat-Medium.eot');
    src: url('./fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Montserrat-Medium.woff') format('woff'),
        url('./fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat-bold';
    src: url('./fonts/Montserrat-Bold.eot');
    src: url('./fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Montserrat-Bold.woff') format('woff'),
        url('./fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
#timerStartWindow{
    position:absolute;
    min-height:70vh;
    min-width:50vw;
    max-height:70vh;
    max-width:50vw;

    top:20vh;
    left:5vw;

    border-style:solid;
    border-color:gray;
    border-radius:4px;
    background-color:rgba(245,245,245,1);

}
#timerStartWindowHeader{
  text-align:center;
  width:100%;
}
#timerWorkTimePrompt{
  position:relative;
  display:flex;
  min-width:90%;
  min-height:10%;
  max-height:10%;
  max-width:90%;
  top:10vh;
  left:5%;

  font-size:3vh;
  flex-direction:row;
  gap:2vh;

}
#timerWorkTimeOptions{
  display:flex;
  padding-left:1vw;
  gap:3vw;
}
.timerTimeOptionBox{
  position:relative;

  min-height:50px;
  min-width:50px;
  max-height:50px;
  max-width:50px;
  top:-15px;
  border-radius:6px;
  border-style:solid;
  border-color:rgba(67, 131, 250,0.7);

}
.timerTimeOptionBox:hover{
  background-color:rgba(67, 131, 250,0.7);
  color:white;
}
.timerTimeOptionBox::after{
  content:"";
  text-align:center;
  font-size:2vh;
  line-height:50px;
  padding-left:10px;
}
#timerWorkTimeBoxOne{
  order:1;
}
#timerWorkTimeBoxTwo{
  order:2;
}
#timerWorkTimeBoxThree{
  order:3;
}
#timerWorkTimeBoxFour{
  order:4;
}
#timerWorkTimeBoxFive{
  order:5;
}
#timerWorkTimeBoxOne::after{
  content:"10m";
  
}
#timerWorkTimeBoxTwo::after{
  content:"15m";
}
#timerWorkTimeBoxThree::after{
  content:"20m";
}
#timerWorkTimeBoxFour::after{
  content:"25m";
}
#timerWorkTimeBoxFive::after{
  content:"30m";
}

#timerBreakTimePrompt{
  position:relative;
  display:flex;
  flex-direction:row;
  gap:2vh;
  min-width:90%;
  max-width:90%;
  top:18vh;
  left:5%;
}
#timerBreakTimeOptions{
  display:flex;
  padding-left:0.7vw;
  gap:3vw;
}
#timerBreakTimeBoxOne{
  order:1;
}
#timerBreakTimeBoxTwo{
  order:2;
}
#timerBreakTimeBoxThree{
  order:3;
}
#timerBreakTimeBoxFour{
  order:4;
}
#timerBreakTimeBoxFive{
  order:5;
}
#timerBreakTimeBoxOne::after{
  content:"2m";
}
#timerBreakTimeBoxTwo::after{
  content:"5m";
}
#timerBreakTimeBoxThree::after{
  content:"10m";
}
#timerBreakTimeBoxFour::after{
  content:"15m";
}
#timerBreakTimeBoxFive::after{
  content:"20m";
}

#timerRepTimePrompt{
  position:relative;
  display:flex;
  min-width:90%;
  max-width:90%;
  top:28vh;
  left:5%;

  font-size:3vh;
  flex-direction:row;
  gap:2vh;

}
#timerRepTimeOptions{
  display:flex;
  padding-left:0.5vw;
  gap:3vw;
}
#timerRepTimeBoxOne{
  order:1;
}
#timerRepTimeBoxTwo{
  order:2;
}
#timerRepTimeBoxThree{
  order:3;
}
#timerRepTimeBoxFour{
  order:4;
}
#timerRepTimeBoxFive{
  order:5;
}
#timerRepTimeBoxOne::after{
  content:"1";
}
#timerRepTimeBoxTwo::after{
  content:" 2";
}
#timerRepTimeBoxThree::after{
  content:" 3";
}
#timerRepTimeBoxFour::after{
  content:" 4";
}
#timerRepTimeBoxFive::after{
  content:" 5";
}

#audioPanel{
  position:absolute;
  min-height:70vh;
  min-width:25vw;
  max-height:70vh;
  max-width:25vw;

  left:65vw;
  top:20vh;
  
  border-style:solid;
  border-color:gray;
  border-radius:4px;
  background-color:rgba(245,245,245,1);
}
#audioPanelHeader{
  text-align:center;
  width:100%;
}

@media only screen and (max-height:600px){ 
  .timerTimeOptionBox{
    min-height:35px;
    min-width:35px;
    max-height:35px;
    max-width:35px;
  }
  }
@media only screen and (max-width:1440px){
  .timerTimeOptionBox{
    min-height:35px;
    min-width:35px;
    max-height:35px;
    max-width:35px;
  }
  .timerTimeOptionBox::after{
    font-size:1.5vh;
  }
}
